.App {
  text-align: center;
}

#addItem {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 14px;
  max-width: 80%;

  background-color: rgb(238, 238, 238);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#title {
  color: rgb(0, 197, 115);
}

#note {
  font-size: 16px;
}
